body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0f7fa; /* Fondo de color pastel */
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff; /* Fondo blanco */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  h1 {
    text-align: center;
    color: #00838f; /* Texto color turquesa */
  }
  
  .cart-container {
    padding: 20px;
    background-color: #fafafa; /* Fondo gris claro */
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  button {
    background-color: #43a047; /* Verde oscuro */
    color: #fff;
    padding: 10px;
    margin-right: 8px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #388e3c; /* Verde más oscuro al pasar el ratón */
  }
  
  .add-product-btn {
    background-color: #2196f3; /* Azul */
  }
  
  .add-product-btn:hover {
    background-color: #0d47a1; /* Azul más oscuro al pasar el ratón */
  }
  
  .change-name-btn,
  .change-price-btn,
  .add-btn,
  .remove-btn {
    background-color: #ff9800; /* Naranja */
  }
  
  .change-name-btn:hover,
  .change-price-btn:hover,
  .add-btn:hover,
  .remove-btn:hover {
    background-color: #e65100; /* Naranja más oscuro al pasar el ratón */
  }
  
  .icon {
    margin-right: 5px;
  }
  